<h1 style="margin-top: 50px; margin-bottom: 30px">{{auctionName}}</h1>

<div class="panel panel-default container">
  {{#if errorMessage}}
      <div class="alert alert-danger" role="alert">
          <strong>Error! </strong> {{errorMessage}}
      </div><br>
  {{/if}}
  {{#if submitBidResponse}}
    <div class="alert alert-info">{{submitBidResponse}}</div>
  {{/if}}

    <div class="row">
      <div class="col-sm-3">
        <img src="/assets/images/placeholder.png" alt="Card image" style="display:block; margin:auto;"/>
      </div>
      <div class="col-sm-9 jumbotron" style="padding: 1rem 2rem;">
        <div class="panel-heading">Auction Description: {{auctionDescription}}</div>
        <div class="panel-info">Seller: {{auctionSeller}}</div>
        <div class="panel-info">Quantity: {{auction.quantity}}</div>
        <div class="panel-info">Item Name: {{auction.itemName}}</div>
        <div class="panel-info">Item Description: {{auction.itemDescription}}</div>
        <div class="panel-info">Time Left: {{countdown-string endDate=startDate startDate=auction.auctionEndTime}}</div>
        <div class="panel-info">Tags:
        {{ember-selectize content=auction.categories tabindex=6 selection=auction.categories multiple=true disabled=true}}</div>
        <button type="submit" {{action "flagAuctionAction"}} class="btn btn-danger">Flag Auction</button>
      </div>
    </div>

    <div class="row">
    <div class="form-group jumbotron" style="margin-top: 2rem; margin-bottom: 0rem; padding: 1rem 2rem;">
      <h3 style="margin-top: 10px; margin-bottom: 10px">Bid Data</h3>
      <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>Bid By</th>
            <th>Bid Amount</th>
            <th>Bid at</th>
          </tr>
        </thead>
        <tbody>
          {{#each auction.bids as |bid|}}
            <tr>
              <td>{{bid.bidUsername}}</td>
              <td>{{bid.bidAmount}}</td>
              <td>{{bid.bidDate}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{#if auctionHasBid}}
          <div class="panel-info">High Bidder: {{#link-to 'user.view-other-user' highBidUser}}{{highBidUser}}{{/link-to}}</div>
      {{else}}
          <div class="panel-info">High Bidder: {{highBidUser}}</div>
      {{/if}}
      <div class="panel-info">Current Bid Amount: {{highBidAmount}}</div>
      <form {{action "submitBid" on="submit"}}>
          <div class="form-group">
              <label class="registration-label">Bid Now:</label>
              {{textarea value=newBidAmount placeholder=highBidAmount class="form-control"}}
          </div>
          <button type="submit" class="btn btn-primary" >Submit Bid</button>
      </form>
    </div>
  </div>

    {{#if auction.auctionBuyNow}}<br>
      <div class="form-group jumbotron" style="padding: 1rem 2rem;">
        <h3 style="margin-top: 10px; margin-bottom: 10px">Auction Available to Buy</h3>
        <label class="registration-label">Buy Now Price: ${{auction.auctionBuyNowPrice}}</label><br>

        <button type="submit" {{action "buyAuctionAction"}} class="btn btn-primary">Buy Auction Item</button><br>
      </div>
    {{/if}}


    {{#if auctionCanBeStopped}}<br>
      <button type="submit" {{action "stopAuctionAction"}} class="btn btn-primary">Stop Auction</button><br>
    {{/if}}

</div>
