<h1 class="roboto" style="margin-top: 50px; margin-bottom: 30px">Create New Account</h1>

{{#if session.isAuthenticated}}
  <label>User already logged in! Please logout first to create a new user</label><br>
  <button style="margin-top: 10px;" type="submit" class="btn btn-primary" {{action "logOutHandler"}}>Logout</button>
{{else}}
  <form {{action "submitUserForm" on="submit"}}>

    {{#if errorMessage}}
      <div class="alert alert-danger" role="alert">
        <strong>Error! </strong>{{errorMessage}}
      </div>
    {{/if}}

    {{user-view userData=userData readonly=false specialReadonly=false}}

    <button style="margin-top: 10px;" type="submit" class="btn btn-primary">Submit</button>
  </form>
{{/if}}
