<nav class="navbar navbar-full navbar-dark bg-primary">
  {{link-to 'Home' 'index' class="navbar-brand"}}
  <div class="nav navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Users
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {{link-to 'Sign Up' 'user.create-user' class="dropdown-item"}}
        {{link-to 'Sign In' 'user.sign-in' class="dropdown-item"}}
        {{#if session.isAuthenticated}}{{link-to 'View Account' 'user.view-user' class="dropdown-item"}}{{/if}}
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Auctions
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {{link-to 'View Auctions' 'auctions-grid' class="dropdown-item"}}
        {{link-to 'Create an Auction' 'auction.create-auction' class="dropdown-item"}}
        {{link-to 'View Auction' 'auction.view-auction' 1234 class="dropdown-item"}}
      </div>
    </li>

    {{#if userIsAdmin}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {{link-to 'View Users' 'admin.users' class="dropdown-item"}}
          {{link-to 'View Categories' 'admin.categories' class="dropdown-item"}}
        </div>
      </li>
    {{/if}}
  </div>
</nav>

<div class="container">
  {{outlet}}
</div>
